{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 m-4 ">
        <div class="col-lg-5 mx-auto border rounded pt-4 pb-3 ps-3 pe-3">
            <h3 class="alert alert-light border rounded " >create an account</h3>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <!-- firstname -->
                <div class="form-group">
                    <label for="" >First Name</label>
                    <input type="text" name="firstname" class="form-control form-control-sm" id="" placeholder="">
                </div>
                <!-- last name -->
                <div class="form-group">
                    <label for="" >Last Name</label>
                    <input type="text" name="lastname" class="form-control form-control-sm" id="" placeholder="">
                </div>
                <!-- phone -->
                <div class="form-group">
                    <label for="" >Phone no : </label>
                    <input type="text" name="phoneno" class="form-control form-control-sm" id="" placeholder="">
                </div>


                <!-- email -->
                <div class="form-group">
                        <label for="" >Email</label>
                        <input type="email" name="email" class="form-control form-control-sm" id="" placeholder="name@example.com">
                </div>
                <!-- password -->
                <div class="form-group">
                    <label for="" >Password</label>
                    <input type="password" name="password" class="form-control form-control-sm" id="" placeholder="***">
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Create an Account" class="btn btn-sm btn-info">
                </div>
            
            
            </form>
        </div>
    </div>
</div>


{% endblock content %}